/*
Our chefs
*/
.chef-box{
    span{
        text-transform: uppercase;
        color:#666;
    }
    h4{
        margin-top:15px;
        margin-bottom: 0px;
        text-transform: uppercase;
    }
}
