$skin-color:#c0996b; //replace this color code with your favorite one
$secondary-color:#f44336;
$default-font: 'Lato', sans-serif; //default font of this template
$title-font: 'Poppins', sans-serif;// secondry font of this template
$tritary-font: 'Dancing Script', cursive;


